.DS_Store
*.pyc
*.json
.vscode
dist
target/
Cargo.lock
dsptoolbox/_rust*.so
dsptoolbox.egg-info
checklist_for_dev.txt
docs/_build
.ipynb_checkpoints
.pytest_cache
.mypy_cache/
.empty/
mypy.ini
__pycache__
