# use:
scipy~=1.12
numpy~=2.0
soundfile~=0.12
sounddevice~=0.4
numba~=0.60

# plotting:
matplotlib~=3.8
seaborn~=0.12

# dev:
hatch # build
wheel # build
twine # upload build
flake8  # linter
pytest # tests
# librosa  # validation
# pyfar  # validation
# pyroomacoustics # validation

# jupyter notebooks:
ipykernel
ipympl
notebook

# docs:
furo # theme
numpydoc # numpy-like documentation
sphinx # generate docs
readthedocs-sphinx-search # readthedocs
autodocsumm # autosummary with docs