# use:
scipy>=1.9
numpy>=1.23
soundfile>=0.11
sounddevice>=0.4

# plotting:
matplotlib>=3.6
seaborn>=0.12

# dev:
# hatch # build
# wheel # build
# twine # upload build
# flake8  # linter
# librosa  # validation
# pyfar  # validation

# jupyter notebooks:
# ipykernel
# ipympl

# docs:
furo # theme
numpydoc # numpy-like documentation
sphinx # generate docs
readthedocs-sphinx-search # readthedocs
autodocsumm # autosummary with docs