# use:
scipy
numpy
# soundfile # There's a bug when installing it for documentation, use scipy.io.wavfile instead and drop support for flac files
sounddevice
PyAudio

# plotting:
matplotlib
seaborn

# dev:
librosa  # validation
pyfar  # validation
flake8  # linter

# docs:
piccolo-theme # theme
numpydoc
sphinx
readthedocs-sphinx-search
autodocsumm