-e .
# -e .[use-numba]

# dev:
hatch # build
maturin # build Rust extensions
cibuildwheel # build wheels across supported Python/platform matrices
wheel # build
twine # upload build
ruff  # linter and formatter
pytest # tests
# librosa  # validation
# pyfar  # validation
# pyroomacoustics # validation

# jupyter notebooks:
ipykernel
ipympl
notebook
ipywidgets

# docs:
furo # theme
numpydoc # numpy-like documentation
sphinx # generate docs
readthedocs-sphinx-search # readthedocs
autodocsumm # autosummary with docs
